{% extends "layout.twig" %}

{% block head %}
    <script src="/assets/js/join-room.js"></script>
{% endblock %}

{% block body %}
    <h1>Rooms Found</h1>
    <ul>
        {% for room in rooms %}
            <li>
                Name: {{room.name}}
                <br>
                {% if not room.is_member %}
                    <form id="join_room" action="{{ path_for("join_room", { 'id': room.id }) }}" method="POST" data-private={{ room.private }}>
                        <input type="hidden" name="csrf_name" value={{ csrf_name }}>
                        <input type="hidden" name="csrf_value" value={{ csrf_value }}>
                        <input type="hidden" name="password">
                        <button type="submit">Join</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}