{% extends "layout.twig" %}

{% block body %}
    <h1>Rooms Found</h1>
    <ul>
        {% for room in rooms %}
            <li>
                Name: {{room.name}}
                <br>
                {% if not room.is_member %}
                    <form action="{{ path_for("join_room") }}" method="POST">
                        <input type="hidden" name="csrf_name" value={{ csrf_name }}>
                        <input type="hidden" name="csrf_value" value={{ csrf_value }}>
        
                        <input type="hidden" name="room" value={{ room.id }}>
                        <button type="submit">Join</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}